@page "/categorylist"
<h3>CategoryOverview</h3>


<table>
<thead>
    <tr>
        <th>Category Name </th>
    </tr>
</thead>
<tbody>
    @foreach(var category in Categories)
    {
        <tr>
            <td>@category.Name</td>
            <td><a  href="/EditCategory/@category.CategoryId">Edit Category</a></td>
        </tr>
    }
</tbody>
</table>