@page "/EditCategory"
@page "/EditCategory/{CategoryId}"

<h3>EditCategory</h3>
@Message
<EditForm OnValidSubmit="HandleValidSubmit" Model="@CategoryToUpsert">
    <DataAnnotationsValidator />
    <ValidationSummary/>
    <div class="form-group row">
        <label for="name" class="col-sm-3">Category Name</label>
        <InputText id="name" class="form-control col-sm-8" @bind-Value="@CategoryToUpsert.Name" placeholder="Category Name"/>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="(()=>CategoryToUpsert.Name)"></ValidationMessage>
    </div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Create Category</MudButton>
</EditForm>
@if(CategoryToUpsert.CategoryId != Guid.Empty)
{
    @*<button class="btn btn-danger" type="submit" @onclick="HandleDeleteAsync">Delete Category</button>*@
   <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="HandleDeleteAsync">Delete Category</MudButton>
}
